header {
  background-color: #34495e;
  height: 80px;
}

.array-container {
  margin-top: 20px;
}

.array-bar {
  width: 10px;
  display: inline-block;
  margin: 0 2px;
  background-color: #ebb134;
}

.buttons-div {
  display: flex;
  justify-content: space-around;
}

.buttons-div button {
  cursor: pointer;
  margin-top: 15px;
  color: white;
  background: none;
  border: 3px solid white;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 10px;
}
